<div class="modal" id="modal">
    <div class="modal-content">
        <a href="#" class="modal-close black-txt">&times;</a>
        <h1>Chat</h1>
        <div class="chat-container">
            <div class="container-30">
                <ul class="users-list">
                    <li class="name">Or Moshe</li>
                    <li class="name">Or Moshe</li>
                    <li class="name">Or Moshe</li>
                </ul>
            </div>
            <div class="container-70">
                
            </div>
        </div>
    </div>
</div>