<%- include('partials/header') %>
<%- include('partials/nav') %>

<div class="full-container">
    <h1>This is Login Page</h1> 
    <button class="light-btn" onclick="location.href = '/google'">Google+</button>
</div>

<%- include('partials/footer') %>